<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-left">
        <%= link_to icon('chevron-left', 'Back', class: 'fa-fw'), issue_types_path,
        class: ['btn','btn-sm','btn-default'] %>
      </div>
      <div class="pull-right">
        <%= link_to icon('eye', 'Show', class: 'fa-fw'), @issue_type,
        class: ['btn','btn-sm','btn-default'] %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 spaced">
      <h1 class="text-center">Editing Issue Type</h1>
    </div>
  </div>
  <section class="form">
    <%= render 'form' %>
  </section>
</div>
