<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-left">
        <%= go_back_link issue_types_path %>
      </div>
      <div class="pull-right">
        <%= link_to icon('eye', t('links.show'), class: 'fa-fw'), @issue_type,
        class: ['btn','btn-sm','btn-default'] %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 spaced">
      <h1 class="text-center"><%= t('issue_type.edit_title') %></h1>
    </div>
  </div>
  <section class="form">
    <%= render 'form' %>
  </section>
</div>
