<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <div class="pull-left">
          <%= go_back_link @announcement %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><%= t('announcement.edit_announcement') %></h1>
    </div>
  </div>
  <section class="form">
    <%= render 'form' %>
  </section>
</div>
