<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><%= t('announcement.new_title') %></h1>
    </div>
  </div>
  <section class="form">
    <%= render 'form' %>
  </section>
</div>
