<% if a.trackable %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <span><i class="fa fa-2x fa-calendar-plus-o"></i></span>
          &nbsp;&nbsp;
          <!--<%= image_tag gravatar(a.trackable.user.email, 40), height: 40, class: 'img-circle' %>-->
          <%= mail_to a.trackable.user.email, a.trackable.user.name %>
          <span>created event</span>
          <%= link_to a.trackable.title, event_path(a.trackable) %>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>
