<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <span><i class="fa fa-2x fa-trash-o"></i></span>
          &nbsp;&nbsp;
          <%= t('activity.announcement.destroy') %>
        </p>
      </div>
    </div>
  </div>
</div>
