<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-left">
        <%= link_to 'Back', events_path %>
      </div>
      <div class="pull-right">
        <%= link_to 'Show', @event %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Editing Event</h1>
    </div>
  </div>
  <%= render 'form' %>
</div>
