<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= go_back_link events_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><%= t('event.new_title') %></h1>
    </div>
  </div>
  <%= render 'form' %>
</div>
