<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <%= render_activities(@activities) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= paginate @activities %>
    </div>
  </div>
</div>
