<% if a.trackable %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <span><i class="fa fa-2x fa-tag"></i></span>
          &nbsp;&nbsp;
          <span>Type</span>
          <%= link_to a.trackable.name, issue_type_path(a.trackable) %>
          <span>was created.</span>

        </p>
      </div>
    </div>
  </div>
</div>
<% end %>
