<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <span class="fa-stack">
            <i class="fa fa-stack-1x fa-times"></i>
            <i class="fa fa-stack-2x fa-comment-o"></i>
          </span>
          &nbsp;&nbsp;
          <span><%= t('comment.comment_removed') %></span>
        </p>
      </div>
    </div>
  </div>
</div>
