@import 'https://fonts.googleapis.com/css?family=Lato';

body {
  font-family: 'Lato', sans-serif;
}

.spaced {
  margin-top: 1.5rem;
}


@media(min-width:768px) {
  .spaced-xs {
    margin-top: 1rem;
  }
}
