<% if warning_notice %>
<div class="spaced" id="notice">
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><%= t('notice.warning') %>&nbsp;</strong>
    <%= warning_notice %>
  </div>
</div>
<% end %>
